:root{
  --welcome-card-bg:white;
  --welcome-text:white;
  --z-index-bottom-nav:10;
  --welcome-bg-start:#1677ff;
  --welecome-bg-end:#69b1ff;
  --welcome-nav-gap:8px;
  --welcome-nav-height:64px;
  --transition-duration: 0.5s;
  --button-bg:#1677ff;
  --button-text:white;
  --button-font-size:18px;
  --button-radius:4px;
  --button-height:48px;
  --float-button-text:var(--button-text);
  --float-button-bg:var(--button-bg)
}