:root{
  --welcome-card-bg:white;
  --welcome-text:white;
  --z-index-bottom-nav:8;
  --z-index-overlay:16;
  --welcome-bg-start:#1677ff;
  --welcome-bg-end:#69b1ff;
  --welcome-nav-gap:8px;
  --welcome-nav-height:64px;
  --transition-duration: 0.5s;
  --button-bg:#1677ff;
  --button-text:white;
  --button-font-size:18px;
  --button-radius:4px;
  --button-height:48px;
  --float-button-text:var(--button-text);
  --float-button-bg:var(--button-bg);
  --navbar-bg-start: var(--welcome-bg-start);
  --navbar-bg-end: var(--welcome-bg-end);
  --navbar-text: white;
  --overlay-mask-bg:rgba(0,0,0,0.5);
  --overlay-bg:white;
  --overlay-user-bg: #1677ff;
  --overlay-user-text: white;
  --top-safe-area-height: 24px;
  
}